@model VforNGOss.Models.Volunteer

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Email</th>>
    </tr>
  </thead>
  <tbody>
    <tr class="table-info">
      <th scope="row">@Model.Id</th>
      <td>@Model.Email</td>
    </tr>
  </tbody>
</table>
<input type="submit" value="Submit" class="btn btn-secondary btn-lg mt-4"/>