@model VforNGOss.Models.Volunteer

<form method="post">
  <fieldset>
    <legend>Edit</legend>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label fw-bold">Id</label>
      <div class="col-sm-10">
        <input type="text" readonly="" class="form-control-plaintext fw-bold" id="staticEmail" value=@Model.Id>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label mt-4 fw-bold" >Email address</label>
          @Html.TextBoxFor(m => m.Email,  new {placeholder = @Html.DisplayNameFor(m=>m.Email) , type="email",@class="form-control"})
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" class="btn btn-primary btn-lg mt-4">Edit</button>
  </fieldset>
</form>
