
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Organization" asp-action="Create" class="btn btn-primary">Are U an Organization?</a>
   <a asp-controller="Volunteer" asp-action="Create" class="btn btn-primary">Are U a Volunteer?</a>
</div>
