@*@{
    ViewData["Title"] = "Home Page";
}*@
@model VforNGOss.Models.Organization

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Organization" asp-action="Create" class="btn btn-primary">Add Organization</a>
    <a class="btn btn-primary" asp-action="Home">Add Volunteer</a>
</div>
