
<div class="text-center">
    <h1 class="display-4 text-bg pt-5 pb-5 " >Welcome</h1>
    <a asp-controller="Organization" asp-action="Create" class="btn btn-primary pt-5 pb-5 me-3 fs-3" id="ruorg" style="width: 200px;">Are U an Organization?</a>
   <a asp-controller="Volunteer" asp-action="Create" class="btn btn-primary pt-5 pb-5 fs-3 ms-3" style="width: 200px;">Are U a Volunteer?</a>
</div>
